## Ejercicio 1: Creación de diccionarios de Python

Creación de Diccionario:

In [1]:
planet = {'name': 'Mars','moons':2}

Obtención de valores del diccionario mediante metodo get y corchetes []:

In [2]:
planet.get('name')

'Mars'

In [3]:
planet['moons']

2

Creación de nueva clave en el diccionario mediante update y uso de corchetes[]:

In [4]:
planet['circumference (km)'] = {
    'polar':6752,
    'equatorial': 6792
}
planet

{'name': 'Mars',
 'moons': 2,
 'circumference (km)': {'polar': 6752, 'equatorial': 6792}}

Imprimir el nombre del planeta con su circunferencia polar:

In [5]:
print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

In [6]:
print(f'{planet["name"]} has a equatorial circumference of {planet["circumference (km)"]["equatorial"]}')

Mars has a equatorial circumference of 6792

## Ejercicio 2: Programación dinámica con diccionarios

Diccionario con el numero de lunas que tiene cada planeta del Sistema Solar:

In [7]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}
planet_moons

{'mercury': 0,
 'venus': 0,
 'earth': 1,
 'mars': 2,
 'jupiter': 79,
 'saturn': 82,
 'uranus': 27,
 'neptune': 14,
 'pluto': 5,
 'haumea': 2,
 'makemake': 1,
 'eris': 1}

Determinar el numero de lunas y el numero de planetas:

In [8]:
moons = planet_moons.values()

moons

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])

In [9]:
planets = planet_moons.keys()

planets

dict_keys(['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'haumea', 'makemake', 'eris'])

In [10]:
number_planets = len(planet_moons.keys())

print(number_planets, "es el total de planetas en el Sistema Solar.")

12 es el total de planetas en el Sistema Solar.

Contar el numero de lunas con ciclo for:

In [11]:
total_moons = 0
for moon in moons:
    total_moons = total_moons + moon

print(total_moons, "es el total de lunas en el Sistema Solar.")

214 es el total de lunas en el Sistema Solar.

Calculando el promedio:

In [12]:
promedio = total_moons/number_planets

promedio

17.833333333333332

Diego Peñaloza Juárez